h1,
  h2, 
    h3
 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #ffb266
}

div {
    text-align: center;
}

.bold {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}