h1, 
  h2,
    h3,
       h4 {
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;   
        text-align: center;
        background-color: rgb(222,26,36);
        color: 	rgb(0,255,127);
}
div {
    text-align: center;
}
.bold {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}